<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://10.11.15.210</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://10.11.15.210</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/GS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="breast_cancerEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=10.11.15.210;Initial Catalog=breast_cancer;User ID=sa;Password=Hsieh0919;Application Name=EntityFramework" Name="Data Source=10.11.15.210;Initial Catalog=breast_cancer;User ID=sa;Password=Hsieh0919;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SKH_GS_MVC.Models.breast_cancerEntities, SKH-GS-MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=10.11.15.210;Initial Catalog=GS;User ID=sA;Password=Hsieh0919;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SKH_GS_MVC.Models.ApplicationDbContext, SKH-GS-MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OPEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=10.1.150.7;Initial Catalog=STA;User ID=sq;Password=smartquery;Application Name=EntityFramework" Name="Data Source=10.1.150.7;Initial Catalog=STA;User ID=sq;Password=smartquery;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SKH_GS_MVC.Models.OPEntities, SKH-GS-MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GSdutyEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SKH_GS_MVC.Models.GSdutyEntities, SKH-GS-MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GSEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SKH_GS_MVC.Models.GSEntities, SKH-GS-MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="elmah-sqlserver" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.11.15.210;Initial Catalog=Elmah;User ID=sa;Password=Hsieh0919" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\elmah-sqlserver_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.11.15.210;User ID=sa;Password=Hsieh0919;Initial Catalog=Elmah;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)breast_cancerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.breastCaseModel.csdl|res://*/Models.breastCaseModel.ssdl|res://*/Models.breastCaseModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.11.15.210;Initial Catalog=breast_cancer;User ID=sa;Password=Hsieh0919;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=10.11.15.210;Initial Catalog=GS;User ID=sA;Password=Hsieh0919;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)elmah-sqlserver-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GSdutyEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GSEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OPEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.OPModel.csdl|res://*/Models.OPModel.ssdl|res://*/Models.OPModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.1.150.7;Initial Catalog=STA;User ID=sq;Password=smartquery;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>